@font-face {
    font-family: 'Alagard'; /* Choose a name for your font */
    src: url("Fonts/alagard.ttf") format('truetype'); /* Relative path to your font file */
    /* Include additional src declarations for other font formats here if needed */
  }
  @font-face {
    font-family: '14-seg'; /* Choose a name for your font */
    src: url("Fonts/DSEG14ModernMini-Regular.ttf") format('truetype'); /* Relative path to your font file */
    /* Include additional src declarations for other font formats here if needed */
  }
  @font-face {
    font-family: 'Basis-33'; /* Choose a name for your font */
    src: url("Fonts/basis33.ttf") format('truetype'); /* Relative path to your font file */
    /* Include additional src declarations for other font formats here if needed */
  }
  
  .segment-group, .dummy-group {
    display: flex;
    margin-bottom: 1em;
  }

  
  .dummy-group {
    position: relative;
    margin-top: auto !important;
    margin-left: 1vh !important;
  }

/* Default styles for wider screens */
.segment-group input, .dummy-group {
    width: 3vw;
    height: 3vw; /* Make it square */
    text-align: center;
    margin: 0 0.1em; /* Add space between segments */
    font-size: 1.5vw; /* Increase font size */
    font-weight: bold; /* Make text bold */
  }

  

input::placeholder {
    color:grey;
    opacity: 1;
}

input:disabled{
  color: white !important;
}

input:disabled::placeholder {
  color: white !important;
  opacity: 1;
}

::selection{
    user-select: none;
    opacity: 0;
}

body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    margin: 0; /* Remove default body margin */
    font-family: 'Basis-33', sans-serif;
    z-index: 0;

  }
input {
    font-family: '14-seg', sans-serif;
    font-size: 1em;
    caret-color: transparent;
    border-radius: 20%;
    box-shadow: 0 3px 0 #000;
    background-color: #e4e4e4;
    outline-offset: 0;
    border: none;
}
input::placeholder {
    font-family: '14-seg', sans-serif;
    font-size: 1em;
}
  
#segmentedInputsContainer {
align-self: center;
transform: translateY(12vh);
/*z-index: -1; // This caused the segmentedInputsContainer to go underneath the body, making it unusable// */
}

#guessCounterHolder, #timer {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 10vw;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5em;
  border-top: none;
}
#timer{
  right: 25%;
}
#guessCounterHolder{
  left: 25%;
}

#guessPlaceholder, #timerPlaceholder {
  font-family: '14-seg', sans-serif;
  background-color: black;
  color: white;
}

#title {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 10vh;
  width: 20vw;
  padding-left: 1vh;
  padding-right: 1vh;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: white;
  background-color: black;
  border-top: none;
  font-family: 'alagard', 'basis-33', sans-serif;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#infoBoxLeft, #infoBoxRight{
  position: fixed;
  display: flex;
  width: 18vw;
  height: 80vh;
  top: 10vh;
}

.boxed{
  background-color: white;
  border: solid black 5px;
  border-radius: 10px;
}

#infoBoxLeft{
  left: 18vw; 
}

#infoBoxRight{
  right: 18vw;
}

#tableRightSpecial{
  border-collapse: separate;
  border-spacing: 0.5vw 14vh;
}

#infoBoxLeft, #infoBoxRight, #guessCounterHolder, #title, #timer{
  z-index: 2;
}

.rainbow-background {
  background: linear-gradient(90deg, 
    #ff0000, #ff7700, #ffdd00, #aaff00, #00ff77, #00ffdd, #0077ff, #0000ff,
    #7700ff, #dd00ff, #ff00aa
  );
  background-size: 1000px 10px; /* Controls the speed of the animation */

  animation: rainbow 3s alternate infinite; /* You can adjust the duration as needed */
}

@keyframes rainbow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

td.button {
  height: 2vw;
  width: 11vw;
  background-color: #fff; /* Button background color */
  outline: 2px solid black;
  color: #000; /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #000; /* Button background color on hover */
  color: #fff;
}





  /* Media query for screens under 400px width */
  @media (max-width:600px){
    .segment-group input, .dummy-group {
      width: 15vw;
      height: 15vw; /* Make it square */
      text-align: center;
      margin: 0 0.1em; /* Add space between segments */
      font-size: 7.5vw; /* Increase font size */
      font-weight: bold; /* Make text bold */
    }

    #guessCounterHolder, #timer {
        height: 10vh;
        width: 25vw;
        font-size: 1em;
      }

      #timer{
        right: 10%;
      }
      #guessCounterHolder{
        left: 10%;
      }
      #infoBoxLeft, #infoBoxRight{
        position: fixed;
        display: flex;
        width: 18vw;
        height: 80vh;
        top: 0;
        left: -9999999vh;
      }
  }