@font-face {
    font-family: 'Alagard'; /* Choose a name for your font */
    src: url("Fonts/alagard.ttf") format('truetype'); /* Relative path to your font file */
    /* Include additional src declarations for other font formats here if needed */
  }
  @font-face {
    font-family: '14-seg'; /* Choose a name for your font */
    src: url("Fonts/DSEG14ModernMini-Regular.ttf") format('truetype'); /* Relative path to your font file */
    /* Include additional src declarations for other font formats here if needed */
  }
  @font-face {
    font-family: 'Basis-33'; /* Choose a name for your font */
    src: url("Fonts/basis33.ttf") format('truetype'); /* Relative path to your font file */
    /* Include additional src declarations for other font formats here if needed */
  }

  body {
    background-color: black;
    color: white;
    font-family: 'Basis-33', sans-serif;
    display: flex;
    flex-direction: column;
}

html {
    cursor: default;
}

::selection {
    background-color: transparent;
}

#controller-box {
    position: fixed;
    bottom: 5%;
    border: 1px solid white;
    width: 90%;
    max-width: 400px;
    height: 30%;
    align-self: center;
    display: grid;
    border-radius: 5%;
}

#func-buttons {
    display: flex;
    justify-content: space-between; /* Ensure equal spacing between child elements */
    width: 90%;
    height: 20%;
    margin: 0 auto;
    align-content: center;
}

.fbutton {
    margin-top: 5%;
    height: 3vh;
    width: 17.5%;
    border: white solid 1px;
    border-radius: 15%;
}

#button-grid {
    border-spacing: 5px; /* Set the desired spacing between cells */
    width: 50%;
    height: 50%;
    transform: translate(10%,0%);
}

.button {
    padding: 5%;
    width: 30%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
}

.button:hover {
    background-color: white;
    color: black;
}